@color 1=#fc5f01;
body {
  background: color1;
}
body header {
  width: 100%;
  height: 100px;
  background: gray;
}
body .content {
  width: 100%;
  height: 400px;
  background: yellow;
}
body .content .content1 {
  width: 50%;
  height: 200px;
  background: green;
}
body .content .content1 .content2 {
  width: 50%;
  height: 150px;
  background: gray;
}
body .content .content1 .content2 ul {
  color: red;
}
